<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <span class="fa-twitter fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Twitter</span>
    </a>
    {% endif %}
    {% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
        <span class="fa-instagram fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Instagram</span>
    </a>
    {% endif %}
</p>